
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <title>
        @ViewData["Title"] - RVAPRODAVNICA.Web
    </title>

     <partial name="Styles" />
 

</head>

<body class="g-sidenav-show  bg-gray-200">
  
 

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
   
    <partial name="Sidenavbar" />
     <partial name="Navbar" />

    <div class="container-fluid py-4">
       
     @RenderBody() @*Ovde ce se ucitavati nase parcijalne stranice To smo iskoppirali iz naseg inicijalnog file-a*@  

     <partial name="Footer"/>


    </div>

  </main>
  
     <partial name="Scripts" />
     <partial name="Settings" />


</body>

</html>