@using RRVAPRODAVNICA.Models

@model List<ProductModel>

@{
    ViewData["Title"] = "Products";
}


<div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-center">
                <h6 class="text-white text-capitalize ps-3 w-20 ">Products</h6>
              </div>
              <a class="btn btn-outline-danger m-2" asp-action="Create" >Create new product</a>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" >
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Options </th>
                    </tr>
                  </thead>

                  <tbody id="product-panel">    
                  </tbody>
                </table>
              </div>
            </div>

            <div class="d-flex justify-content-center m-1">
                <button class="btn btn-secondary m-2 w-20" id="load-old">Load older</button>
                <button class="btn btn-secondary m-2 w-20" id="load-more">Load more</button>
            </div>
          </div>
        </div>
      </div>
       
      @section Scripts{
        <script src="~/js/ajaxCalls.js"></script>
        <script>
            var pageNumber = 0;
            var rowsPerPage = 5;
            
            $(document).ready(function() {
                 /*console.log( "ready!" );*/
                 //alert("hello");
                 /** Ajax ima ugradjen http request */
                 /**Iskoristio je neki kod koji je pripremio */

                 
                 var url = "/Administration/Product/Rows";
                 var dataObject = $('#product-panel');
                 var search = $("#search").val();

                // $("#load-old").prop('disabled', true);
               // TableSearch(dataObject, url, pageNumber, rowsPerPage);

                 $("#load-more").click(function (){
                     dataObject.empty();
                     search = $("#search").val();
                     pageNumber++;
                     TableSearch(dataObject, url, pageNumber, rowsPerPage, search);  
                     //$("#load-old").prop('disabled', false);
                 });
                 
                 $("#load-old").click(function (){
                
                     if(pageNumber <= 1){
                         
                        pageNumber = 1;
                       // $("#load-old").prop('disabled', true);
                     }else{
                        
                        pageNumber--;
                     }
                     search = $("#search").val();
                     dataObject.empty();
                     TableSearch(dataObject, url, pageNumber, rowsPerPage, search); 
                 });  


                 $("#search").keyup(function (){

                     search = $("#search").val();
                     
                     dataObject.empty();
                     pageNumber=1;
                     
                     TableSearch(dataObject, url, pageNumber, rowsPerPage, search);
                     
                 })  ;

            })
        </script>

      }
      


