@using RRVAPRODAVNICA.Models

@model List<ProductModel>

@{
    ViewData["Title"] = "Products";
}


<div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authors table</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" >
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Options </th>
                    </tr>
                  </thead>

                  <tbody id="product-panel">    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      @section Scripts{

        <script>

            $(document).ready(function() {
                 /*console.log( "ready!" );*/
                 //alert("hello");
                 /** Ajax ima ugradjen http request */
                 /**Iskoristio je neki kod koji je pripremio */

                 var data = {"pageNumber": 1, "rowsPerPage": 10}
                 
                 $.ajax({
                    method: "GET",
                    url: "/Administration/Product/Rows",
                    data: data,
                    success: function (response){
                        var len = $(response).find('.counter-rows').length;
                        //alert(len)
                        if(len != null && len > 0){
                            $('#product-panel').append(response);
                        }
                    },
                    error: function(){
                        //alert(errorText)
                    }
                                  
                 })

            })
        </script>

      }
      


