@{
    Layout = null;
}

@foreach ( var item in Model)
{

                    <tr >
                      <td>
                        <div class="d-flex px-2 py-1 counter-rows">
                          <div>
                            <img src="~/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">@item.Name</h6>
                            <p class="text-xs text-secondary mb-0">@item.Description</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">@item.Price</p>
                      </td>
                      <td class="align-middle text-center text-sm">

                                        @if(@item.Active == true)
                                        {
                                            <span class="badge badge-sm bg-gradient-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-sm bg-gradient-secondary">Not-Active</span>
                                        }
                                           
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">@item.DataCreatedAt</span>
                      </td>
                      <td class="align-middle  text-center">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs " data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>   
                    

}
